@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&family=Salsa&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  color: #3f516c;
}

body {
  background-color: #fefdf8;
}

a:link,
a:visited {
  text-decoration: none;
}

#top-bar {
  height: 20vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family: "Salsa", sans-serif;
  font-size: 90px;
  color: #3f516c;
}

#login {
  display: block;
  width: 25%;
  height: 50%;
  font-size: 30px;
  font-weight: bold;
  background-color: #fefdf8;
  text-align: center;
  border: 2px solid #3f516c;
  padding: 10px 20px;
  border-radius: 10px;
  color: #3f516c;
}

header div {
  text-align: center;
}
header div h1 {
  color: #1bb8f1;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 40px 80px;
}
header div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 55%;
}
header div h2 {
  color: #3f516c;
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding: 40px 80px;
}
header div h3 {
  color: #1bb8f1;
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: bold;
  font-size: 35px;
  padding: 40px 80px;
}
header div h4 {
  color: #3f516c;
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 25px;
  padding: 40px 80px;
  font-weight: lighter;
}
header div h5 {
  color: #3f516c;
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 45px;
  padding: 40px 80px;
  font-weight: lighter;
}

.button {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 65%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: #3f516c;
  color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

.content {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.content div {
  font-size: 30px;
  max-width: 500px;
  padding-left: 40px;
  padding-right: 40px;
}
.content img {
  width: 250px;
  height: 250px;
}

.bottom-bar {
  margin-top: 140px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffcdd;
}
.bottom-bar div {
  padding: 30px 0px;
  font-size: 30px;
  font-weight: bold;
  background-color: #fffcdd;
}